:root {
  --color-background: #5fb1bf;
  --primary: #f76a55;
  --secondary: #ef9001;
  --logo: #ff9b3d;
  --transparent: #ffffffdc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  color: var(--primary);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
