:root {
  --color-background: #ffffffdc;
  --primary: #f76a55;
  --secondary: #ef9001;
  --logo: #ff9b3d;
  --transparent: #5fb1bf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  color: var(--primary);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
}

header > img {
  width: 50px;
}

#user-area > a > img {
  width: 50px;
}
